
@{
    ViewBag.Title = "Cosmo";
}
    <div>
        <h2>Cosmo</h2>
        <br />
        <p>Dentro de esta seccion se permite la carga de constelaciones y listarlas</p>
        <br />
        <h2>Gestion de Constelaciones</h2>
        <br />
        <div>
            <table>
                <tr>
                    <th>Siglo</th>
                    <td>
                        <input id="txtSiglo" type="text" placeholder="Ingrse Siglo" />
                    </td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>
                        <input id="txtNombre" type="text" placeholder="Ingerse Nombre" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <button id="btnGuardar" type="submit" onclick="Guardar()">Guardar</button> |
                        <button id="btnMostrarLista" type="submit" onclick="MostrarLista()">Mostrar Lista</button>  |
                        <button id="btnLimpiar" type="submit" onclick="LimpiarLista()">Limpiar Lista</button>
                    </td>
                </tr>
            </table>
            <div id="resultado">
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>


    class Constelacion {
        siglo;
        nombre;

        Add(sig, nom) {
            this.siglo = sig;
            this.nombre = nom;
        }
    }

    var listaConstelaciones = [];


    function Guardar() {
        var siglo = document.getElementById('txtSiglo').value;
        var nombre = document.getElementById('txtNombre').value;
        if (siglo != "" && nombre != "") {
            var c = new Constelacion();
            c.Add(siglo, nombre);
            listaConstelaciones.push(c);
        }

    }


    function MostrarLista() {

        if (listaConstelaciones.length > 0) {
            limpiar("resultado");
            var html = '';
            html += 'Lista de Constelaciones';
            html += '<ul >'
            for (var i = 0; i < listaConstelaciones.length; i++) {
                html += '<li> Siglo:' + listaConstelaciones[i].siglo + '&#8195 Nombre: ' + listaConstelaciones[i].nombre + ' </li>';
            }

            html += '</ul>';

            $('#resultado').append(html);
        }

    }

    function LimpiarLista() {
        listaConstelaciones = [];
        limpiar('resultado');
    }

 

    function limpiar(value) {
        const el = document.getElementById(value);
        while (el.firstChild)
            el.removeChild(el.firstChild);
        
    }
 </script>

@section scripts{

    <script>
        $("#btnGuardar").click(function () {

            $("#txtSiglo").val("");
            $("#txtNombre").val("");
        });
        //Resolucion con Jquery
                //modelado de entidad objeto
        /*        var constelaciones = new Array()
                function Constelacion() {

                    this.setSiglo = function (value) {
                        this._siglo = value
                    }
                    this.getSiglo = function () {
                        return this._siglo
                    }
                    this.setName = function (value) {
                        this._name = value
                    }
                    this.getName = function () {
                        return this._name
                    }
                }

                $("#btnSave").click(function () {
                    var p = new Constelacion();
                    p.setSiglo($("#txtSiglo").val());
                    p.setName($("#txtNombre").val());
                    constelaciones.push(p);
                    $("#txtSiglo").val("");
                    $("#txtNombre").val("");
                })

                $("#btnList").click(function () {
                    var ctl = $("#resultado");
                    ctl.html("");
                    $.map(constelaciones, function (c, i) {
                        ctl.append("-"+(i+1) +" Siglo: " + c.getSiglo() + " Nombre: " + c.getName() + "<br/>");
                    }
                    );
                });*/
    </script>
}


